<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | Flask Blog</title>
    <link href="{{ url_for('.static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/foundation.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/app.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename='js/vendor/modernizr.js') }}"></script>
  {% endblock %}
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ url_for('index') }}">Flask Blog</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a href="{{  url_for('index')  }}">Home</a></li>
        <li class="divider"></li>
        <li><a href="#">These</a></li>
        <li class="divider"></li>
        <li><a href="#">Still</a></li>
        <li class="divider"></li>
        <li><a href="#">Go</a></li>
        <li class="divider"></li>
        <li><a href="#">Nowhere</a></li>
        {% if g.user.is_authenticated %}
          <li class="divider"></li>
          <li><a href="{{  url_for('logout')  }}">Logout</a></li>
          <li class="divider"></li>
          <li><a href="#">{{  g.user.username  }}</a></li> <!--TODO - should route to user's homepage once implemented-->
        {% endif %}
      </ul>
    </section>
  </nav>
  <div class="row">
    <div class="small-2 columns">
      <ul class="side-nav" role="navigation" title="Post List">
        {% block sidebar %}{% endblock %}
      </ul>
    </div>
    <div class="small-10 columns">
      <br>
      {% include 'flash.html' %}
      <br>
      {% block body %}{% endblock %}
    </div>
  </div>
  <script src="{{ url_for('.static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/foundation.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/foundation.alert.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/app.js') }}"></script>
</body>
</html>
