{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
  <form action="", method="post" name="login">
    {{  form.hidden_tag()  }}
    <div class="row">
      {{  form.username(placeholder="Username")  }}
    </div>
    <div class="row">
      {{  form.password(placeholder="Password")  }}
    </div>
    <div class="row">
      <div class="small-3 columns">
        {{  form.remember_me  }}
        <label for="remember_me">Remember Me</label>
      </div>
      <div class="small-9 columns">
        <input type="submit" value="Sign In"  class="button">
      </div>
    </div>
  </form>
{% endblock %}