{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}

  <form action="" method="post" name="register">
    {{  form.hidden_tag()  }}
    <div class="row">
      {{  form.username(placeholder="Username")  }}
    </div>
    <div class="row">
      {{  form.email(placeholder="Email")  }}
    </div>
    <div class="row">
      {{  form.password(placeholder="Password")  }}
    </div>
    <div class="row">
      <input type="submit" value="Register" class="button">
    </div>
  </form>
{% endblock %}